.bgImg{
    position: fixed;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 0px;
    z-index: -10;
}

.charImg{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 9999px;
    border-radius: 50%;
}

.charDiv{

    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 2.5rem;
    color: white;
}

.outerSection{
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: 300;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subTitleName{
    letter-spacing: .05em;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.titleName{
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

