.namelink{
    text-decoration: none;
    color: white;
}

.namelink:link, .namelink:visited {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .namelink:hover, .namelink:active {
    background-color: white;
    color: black;
  }

.bgImg{
    position: fixed;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 0px;
    z-index: -10;
}

.card{
    background-color: black;
    color: #ffffff;
        border-radius: 25px;
       
        padding: 20px;
        /* width: 200px; */
        /* height: 150px; */
}

.cardlayout{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.disabledLink {
    pointer-events: none;
  }

.infoText1{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    letter-spacing: .1em;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 33.333333%;
    color: #ffffff;
}

.infoText2{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    letter-spacing: .1em;
    justify-content: center;
    margin-bottom: 0;
    width: 33.333333%;
    color: #ffffff;
}

.infoText3{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    letter-spacing: .1em;
    justify-content: flex-end;
    margin-bottom: 0;
    width: 33.333333%;
    color: #ffffff;
}

.infoTextBtn{
    margin-right: 1rem;
    border-radius: 0.375rem;
    border-width: 2px;
    padding: 0.25rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .025em;
    color: #ffffff;
}



.mainlayout{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 2.5rem;
}

.namelink{
    border-radius: 25px;
    border: 2px solid white;
    padding: 0.25rem 0.5rem;
    border-width: 1px;
    line-height: 100%;
    /* padding: 20px; */
    /* width: 200px;
    height: 150px; */
}

.namelinkbg{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem
}

.paginationsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.25rem
}

.toptext{
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    color: #ffffff;
}

