/* .namelink:link, namelink:visited {

    padding: 10px 20px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

  }

 

.namelink:hover, namelink:active {

    background-color: white;

    color: black;

  }
  .namelink{

    border-radius: 25px;

    border: 2px solid white;

    padding: 0.25rem 0.5rem;

    border-width: 1px;

    line-height: 100%;
    margin-right: 10px;

} */